<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
</head>
<body>
<header>
    <nav>
        {% if current_user.is_authenticated %}
        <p>
            <a href="/user/{{ current_user.id }}">{{ current_user.name }} {{
                current_user.surname }}</a>
            <a href="/logout">Выйти</a>
        </p>
        <p>
            <a href="/users">Список пользователей</a>
        </p>
        {% else %}
        <p>
            <a href="/register">Зарегистрироваться</a>
            <a href="/login">Войти</a>
        </p>
        {% endif %}
    </nav>
</header>
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>
