{% extends "base.html" %}

{% block content %}
<h1>{{ name }} {{ surname }}</h1>
<img src={{photo}}>

<form method="post" enctype=multipart/form-data>
    <div>
        <label>Приложите фотографию</label><br>
        <input type="file" class="form-control-file" name="file">
    </div>
    <button type="submit">Применить</button>
</form>

<div>
    <h4>Немного о себе:</h4>
    <div>{{ about }}</div>
</div>

<h2>Новости:</h2>
{% if news.first() %}
{% for item in news %}
<div>
    <h3>{{item.title}}</h3>
    <div>
        {{item.content}}
    </div>
    <div>
        Дата написания - {{item.created_date}}
    </div>
</div>
{% endfor %}
{% else %}
<p>Здесь пока ничего нет!</p>
{% endif %}

{% endblock %}
