{% extends "base.html" %}

{% block content %}
<h1>{{ name }} {{ surname }}</h1>
<img src={{photo}}>

<form method="post" enctype=multipart/form-data>
    <div>
        <label>Приложите фотографию</label><br>
        <input type="file" class="form-control-file" name="file">
    </div>
    <button type="submit">Применить</button>
</form>

<div>
    <p>Немного о себе:</p>
    {{ about }}
</div>

{% for item in news%}
<div>
    <h2>{{item.title}}</h2>
    <div>
        {{item.content}}
    </div>
    <div>
        Дата написания - {{item.created_date}}
    </div>
</div>
{% endfor %}

{% endblock %}
