{% extends "base.html" %}

{% block content %}
<h1 class="edit-header">{{ user.name }} {{ user.surname }}</h1>
<form class='edit-form' action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.content.label }}<br>
        {{ form.content }}<br>
        {% for error in form.content.errors %}
            <p role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit") }}</p>
</form>

{% for item in messages[::-1] %}
    <div class="message">
        {% if current_user.id == item.from_id %}
            <p><b>{{ current_user.name }}</b> {{ item.created_date[11:16] }}</p>
            <p>{{ item.content }}</p>
        {% else %}
            <p><b>{{ user.name }}</b> {{ item.created_date[11:16] }}</p>
            <p>{{ item.content }}</p>
        {% endif %}
    </div>
{% endfor %}

{% endblock %}
