{% extends "base.html" %}

{% block content %}
<div class="user-page">
<h1 class="name">{{ user.name }} {{ user.surname }}</h1>

<div class="user-block">
<img src="/static/{{ user.photo }}">

{% if current_user.id == user.id %}
<form method="post" enctype=multipart/form-data>
    <div class="def-block">
        <label>Приложите фотографию</label><br>
        <input type="file" class="form-control-file" name="file">
    </div>
    <button class="def-block" type="submit">Применить</button>
</form>
{% endif %}
<div>
    <input class="btn" type="image"
           onclick="window.location.href = '/chat/{{ current_user.id }}_{{ user.id }}';"
           value="" src="/static/img/plus.png">
</div>
</div>

<div class="user-block">
    <h4>Немного о себе:</h4>
    <div>
        {% if user.about %}
        <p>{{ user.about }}</p>
        {% else %}
        <p>Здесь пока ничего нет!</p>
        {% endif %}

    </div>
</div>{% if current_user.id == user.id %}
    <input class="edit-btn" type="image"
           onclick="window.location.href = '/user/{{ user.id }}/about';"
           value="Изменить" src="/static/img/pencil.png">
    {% endif %}
</div>

<h2 class="user-news-header">Новости</h2>
<div class="user-news">
{% if current_user.id == user.id %}
    <input class="btn" type="image"
           onclick="window.location.href = '/news';"
           value="" src="/static/img/plus-news.png">
{% endif %}
{% if news.first() %}
{% for item in news[::-1] %}
<div class="one-news">
    <h3 class="bold">{{item.title}}</h3>
    <div>
        {{item.content}}
    </div>
    <div>
        <i>Дата написания - {{item.created_date}}</i>
    </div>
    {% if current_user == item.user %}
    <form>
        <input class="btn" type="button" value="Изменить"
                   onclick="window.location.href = '/news/{{ item.id }}';">
        <input class="btn" type="button" value="Удалить"
                   onclick="window.location.href = '/news_delete/{{ item.id }}';">
    </form>
    {% endif %}
</div>
{% endfor %}
{% else %}
<p>Здесь пока ничего нет!</p>
{% endif %}
</div>

{% endblock %}